body{
    background-image:linear-gradient(rgb(56, 3, 153), rgb(48, 12, 116)) ;
}


#calculadora{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-image: radial-gradient(#97B770);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0.4px solid black;
    border-radius: 15px;
}

#display{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border: 0.4px solid black;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    text-align: right;
    width: 242;
    height: 38;
    padding-top: 10px;
    padding-bottom: 19px;
    border-radius: 15px;

    margin-bottom: 10px;
    h4{
        color: black;
        margin: 10px;
        margin-right: 10px;
        align-items:center;
    }
}


.botao{
    font-size: 20px;
    padding: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: 0.2s;
    border: 0.4px solid black;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

.botao:hover{
    padding: 15px;
    background-color: aliceblue;
}

#invisible{
    opacity: 0;
    visibility: hidden;
}

.flex{
    display: flex;
    gap: 30px;
}

#divtexto{
    text-align: center;
}

#grid1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 6px;
    justify-content: center;

}

#grid2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 6px;
    justify-content: center;
}

#enterbutton{
    margin-top: 10px;
    button{
        width: 100%;
    }
}

#botaoreset{
    position: absolute;
    top: 83px;
    right: 7px;
    button{
        width: 20px;
        height: 20px;
        cursor: pointer;
        border-radius: 5px;
        border: 0.4px solid black;
    }
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 17px;
        height: 17px;
    }
}

#botaohistorico{
    position: absolute;
    top: 83px;
    left: 7px;
    button{
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 0.4px solid black;
    }
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 16px;
        height: 16px;
    }
}

    #textohistorico{
        position: absolute;
        top: 56px;
        left: 29px;
        opacity: 0;
        cursor:default;
    }