#calculadora{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

    background-image: linear-gradient(rgb(209, 209, 209) , rgb(197, 196, 196));
    border: 0.4px solid black;
    border-radius: 3px;
}

#display{
    background-color: white;
    border: 0.4px solid black;
    width: 100%;
    padding: 10px 0px;

    margin-bottom: 10px;
    h4{
        margin: 10px;
    }
}

#display{
    display: block;
    background-color: white;
}

.botao{
    padding: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: 0.2s;
    border: 0.4px solid black;
}

.botao:hover{
    padding: 15px;
    background-color: aliceblue;
}

#invisible{
    opacity: 0;
    visibility: hidden;
}

.flex{
    display: flex;
    gap: 30px;
}

#divtexto{
    text-align: center;
}

#grid1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 6px;
    justify-content: center;

}

#grid2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 6px;
    justify-content: center;
}

#enterbutton{
    margin-top: 10px;
    button{
        width: 100%;
    }
}